{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block navbar %}Dashboard{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card text-center shadow p-3" style="max-width: 450px; width: 100%;">
        <div class="card-body">
            <h3 class="card-title text-success mb-3">You`re welcome!</h3>
            <h4 class="text-center text-primary mt-4">Hello, {{ email }}</h4>
            <form method="post" class="mt-2">
                {% csrf_token %}
                <a href="{% url "index" %}" class="btn btn-primary mt-2">To main page</a>
                <button type="submit" class="btn btn-primary mt-2" name="action" value="logout">Logout</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
